$backgroundlist: #393941;
$fontlist: #f2f2f2;

@mixin reset {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body, ul, li, a
{
	@include reset;
}

body
{
	background: $fontlist;
}

.menu 
{
	margin-top: 21px;
	margin-left: 51px;
	li 
	{
	background: $backgroundlist;
	display: inline-block;
	padding-top: 4px;
	padding-right:14px;
	padding-bottom: 4px;
	padding-left: 15px;
	margin-left: -2px;
	margin-right: -2px;
	border-right: 1px solid #4f5058;
	border-top: 6px solid $backgroundlist;
	border-bottom: 6px solid $backgroundlist;
		ul
		{
			display: none;
		}
		&:last-child 
		{
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		&:first-child 
		{
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		&:hover
		{ 
			& > a 
			{
				color: #8fde62;
			}
			& > ul
			{
				display: block;
				position: absolute;
				li
				{
					display: block;
					position: relative;
					top: 10px;
					left: -14px;
					padding-top: 2px;
					padding-right:28px;
					padding-bottom: 2px;
					padding-left:40px;
					&:last-child 
						{
							border-top-right-radius: 0px;
							border-bottom-right-radius: 5px;
							border-bottom-left-radius: 5px;
						}
						&:first-child 
						{
							border-top-left-radius: 0px;
							border-bottom-left-radius: 0px;
						}
				}
			}
		}
		a
		{
		font-family: Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-size: 13px;
		text-decoration: none;
		color: $fontlist;
			
		}
	}
}